.container-fluid {
    width: 1336px;
    padding-top: 10px;
}

li a {
    display: inline-flex;
    align-items: center;
    color: black;
    font-family: 'Crimson Text', serif;
    font-size: 38px;
    margin-left: 35px;
    margin-right: 35px;
}

.nav {
    display: flex;
    justify-content: space-around;;
    align-items: center;
    border: 1px solid black;
    height: 80px;
    width: 1336px;
}

li a:hover {
    text-decoration: none;
    color: #9d898e;
}

#linksContainer{
    width:1336px;
    height:650px;
    background-image:url('contactIcons/contactpageimage.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    display:flex;
    justify-content:center;
    margin-top:40px;

}

#icons {
    margin: 50px;
}

.footer {
    display: flex;
    justify-content: center;
}