body, html {
    height: 100%;
    width:100%;
}

.parallax {
    background-size: cover;
    background-repeat:no-repeat;
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactIcons{
    display:flex;
    padding-left:25%;
}

#logo{
    display:flex;
    align-items:center;
    background-image: url('LogoPhoto/textlogoportfoliobackground.jpg');
}

#about{
    display:flex;
    justify-content:center;
    height:300px;
    background-color:#202020;
    color:#FFFFFF;
    font-size:25px;
    text-align:center;
    padding-top:15px;
    padding-left:100px;
    padding-right:100px;
    font-family: 'Crimson Text', serif;
}

#CoffeeShop{
    background-image: url('portfolioPhotos/7425CB7A-B0A4-4ADA-8EE6-307CEDC754C7.JPG');
    background-size:contain;
    background-color:#D2D3D5;
}

#CSDescription, #TuscanyVillaDescription, #SeamusPortfolioDescription{
    display:flex;
    height:325px;
    background-color:#202020;
    width:100%;
}

#CSText{
    padding-top:15px;
    padding-left:100px;
    padding-right:100px;
    font-size:16px;
    text-align:justify;
    font-family: 'Crimson Text', serif;
    color:white;
}

#SeamusPortfolio{
    background-image: url('portfolioPhotos/seamusPortfolioPic.png');
    background-size:contain;
    background-color:#D2D3D5;
}

#SPText{
    padding-top:15px;
    padding-left:100px;
    padding-right:100px;
    font-size:16px;
    text-align:justify;
    font-family: 'Crimson Text', serif;
    color:white;
}

#TVText{
    padding-top:15px;
    padding-left:100px;
    padding-right:100px;
    font-size:16px;
    text-align:justify;
    font-family: 'Crimson Text', serif;
    color:white;
}

#CSgif, #TVgif, #SPgif{
   display:flex;
   justify-content:center;
   align-items:center;
}

#TuscanyVilla{
    background-image: url('portfolioPhotos/Image from iOS.jpg');
    background-size:contain;
    background-color:#D2D3D5;
}

#TuscanyVillaDescription{
    height:350px;
    background-color:#202020;
    font-size:18px;
    text-align:justify;
    padding-top:15px;
    padding-left:100px;
    padding-right:100px;
    font-family: 'Crimson Text', serif;
}

a{
color:#9d898e;
}

a:hover{
    color:#9d898e;
    text-decoration:underline;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}
